html {
    background-color: #2F3635;
    text-align: center;
    font-size: 19px;
    font-family: "Whitney", "Ebrima", "Arial";
    color: #D1D8D7
}
a:link {
    color: #FFFFFF;
}
a:visited {
    color: #D1D8D7;
    font-weight: bold;
}
::-moz-selection { /* Code for Firefox */
    color: #D1D8D7;
    background: #2F3635;
}

::selection {
    color: #D1D8D7;
    background: #2F3635;
}